
.nav {
  background-color: pink;
  padding: 1rem;
}

.nav>ul{
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  justify-content:center;
}

.nav>ul>li{
  list-style: none;
  font-weight: bold;
} 